.answerWrapper {
  display: flex;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.answer {
  padding: 15px;
  background-color: white;
  color: hotpink;
  border: 2px solid black;
  border-radius: 95px;
  width: 150px;
  font-weight: bolder;
}
.answer:hover {
  opacity: 0.9;
  background-color: rgb(197, 197, 197);
}
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  line-height: 25px;
  width: 250px;
}
