.scoreWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.points {
  color: white;
  font-weight: bolder;
  padding-right: 10px;
  font-size: 20px;
}

.score {
  padding-left: 10px;
  color: rgb(248, 122, 248);
  font-weight: bolder;
  font-size: 20px;
}
