.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flagLine {
  transform: scale(2);
  margin-top: 13%;
}

#flag10 {
  animation: flaganimation 1s ease infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes flaganimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}
