.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flagLine {
  transform: scale(2);
  margin-top: 13%;
}

#flag1,
#flag2,
#flag3,
#flag4,
#flag5,
#flag6,
#flag7,
#flag8,
#flag9,
#flag10,
#flag11 {
  animation: flaganimation 2s ease infinite alternate;
  transform-origin: top;
  transform-box: fill-box;
}

@keyframes flaganimation {
  from {
    transform: rotate3d(1, 1, 1, 2deg);
  }
  to {
    transform: rotate3d(-1, -1, -1, 7deg);
  }
}
