.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.flagLine {
  transform: scale(1);
}

#flag1,
#flag2,
#flag3,
#flag4,
#flag5,
#flag6,
#flag7,
#flag8,
#flag9,
#flag10,
#flag11 {
  animation: flaganimation 2s ease infinite alternate;
  transform-origin: top;
  transform-box: fill-box;
}

@keyframes flaganimation {
  from {
    transform: rotate3d(1, 1, 1, 2deg);
  }
  to {
    transform: rotate3d(-1, -1, -1, 7deg);
  }
}

@media only screen and (max-width: 600px) {
  .logoContainer {
    transform: scale(0.8);
  }
}
