.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: max-content;
  margin-top: 20vh;
  flex-direction: column;
}
.flagWrapper {
  min-width: 250px;
  min-height: 150px;
}
img {
  max-width: 250px;
  max-height: 150px;
  width: 100%;
  border-radius: 8px;
}

.questionWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.question {
  color: #305464;
  font-size: 25px;
  width: max-content;
}

@media only screen and (max-width: 600px) {
  .cardContainer {
    margin-top: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .question {
    font-size: 20px;
  }
}
