.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 400px;
  margin-top: 50%;
  background: rgb(103, 128, 211);
  flex-direction: column;
}
img {
  max-width: 250px;
  max-height: 150px;
}

.questionWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  box-shadow: 1px 1px 1px 1px rgb(69, 80, 131);
}

.question {
  color: rgb(35, 41, 146);
  font-size: 20px;
}

.flagWrapper {
  min-width: 250px;
  min-height: 150px;
}
