.endOfGameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.endOfGameText {
  color: #304b64;
  margin-top: 10vh;
}

.restartButton {
  margin-top: 15vh;
  padding: 15px;
  color: #304b64;
  background-color: #b088f9;
  border-radius: 8px;
  width: 150px;
  font-weight: normal;
  font-size: 18px;
  cursor: pointer;
  border: none;
  font-family: "Fredoka One", cursive;
}

.restartButton:hover {
  opacity: 0.9;
  transform: scale(1.2);
  cursor: pointer;
}
