body {
  margin: 0;
  padding: 0;
  font-family: "Architects Daughter", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(45, 72, 161);
  background: -moz-linear-gradient(
    90deg,
    rgba(45, 72, 161, 1) 0%,
    rgba(0, 41, 255, 1) 100%,
    rgba(3, 255, 0, 1) 100%,
    rgba(0, 158, 244, 1) 100%,
    rgba(255, 0, 215, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(45, 72, 161, 1) 0%,
    rgba(0, 41, 255, 1) 100%,
    rgba(3, 255, 0, 1) 100%,
    rgba(0, 158, 244, 1) 100%,
    rgba(255, 0, 215, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(45, 72, 161, 1) 0%,
    rgba(0, 41, 255, 1) 100%,
    rgba(3, 255, 0, 1) 100%,
    rgba(0, 158, 244, 1) 100%,
    rgba(255, 0, 215, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d48a1",endColorstr="#ff00d7",GradientType=1);
}
