.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

input {
  line-height: 25px;
  font-weight: bolder;
  padding: 10px 10px;
  font-size: 16px;
  color: rgb(50, 42, 73);
}
